extends ./layout.jade
block contenido
    h1 Bienvenidos a mi mundo de maravillas
    h2 Entren bajo su propia responsabilidad y si logran salir seran recompensados inmensamente...
    a(href="/login") Iniciar sesión